# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment directories
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pytest cache and coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Shell script output
*.sh~

# Environment variables
.env

# Miscellaneous
.DS_Store